/* Common Reuse*/
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.container {
  max-width: 1280px;
  margin: auto;
}
/* Button design */
.btn {
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    rgb(255, 88, 155) -0.006%,
    rgb(255, 19, 111) 99.994%
  );
  padding: 15px 30px;
  color: white;
  border: none;
}
.bn-btn {
  border-radius: 6px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  padding: 14px 20px 14px 20px;
  border: none;
}
.sb-btn {
  background: linear-gradient(
    180deg,
    rgb(255, 88, 155) 0.004%,
    rgb(255, 19, 111) 100.004%
  );
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px 20px;
}
/* Navbar Design */
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-top: 60px;
}
.nav-bar-search {
  position: relative;
  color: #bababa;
}
.nav-bar-search input {
  width: 500px;
  background-color: rgb(241, 241, 241);
  padding: 15px 30px;
  border-radius: 66px;
  border: none;
}
.nav-bar-search i {
  position: absolute;
  color: #bababa;
  right: 20px;
  top: 17px;
}
.nav-bar-list ul {
  display: flex;
  gap: 10px;
}
.nav-bar-list ul li {
  list-style: none;
}
.nav-bar-list ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #707070;
}
/* Banner Design */
.banner {
  margin-bottom: 60px;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #feeae9;
  gap: 5px;
  padding: 28px;
  border-radius: 10px;
}
.banner-text h1 {
  color: rgb(31, 31, 31);
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}
.banner-text p {
  color: rgb(78, 78, 78);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  max-width: 450px;
  margin-bottom: 10px;
}
.banner-text .banner-price {
  color: rgb(255, 19, 111);
  font-size: 52px;
  font-weight: bold;
  text-align: left;
  display: block;
  margin-bottom: 10px;
}
.banner-image img {
  width: 402px;
  height: 378px;
}
/* Category Design */
.category {
  margin-bottom: 60px;
}
.category h2 {
  margin: 24px auto;
}
.category-container-items {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 30px;
  padding: 20px;
}
.category-container-items h3 {
  font-weight: bold;
  font-size: 36px;
  color: white;
}
.category-item-cards {
  border-radius: 5px;
  flex: 1;
}
.category-container-item-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    151.85deg,
    rgb(255, 156, 53) 14.537%,
    rgb(255, 208, 25) 84.486%
  );
}
.category-container-item-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(255, 88, 155) -0.006%,
    rgb(255, 19, 111) 99.994%
  );
}
.category-container-item-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    170.38deg,
    rgb(66, 137, 255) 15.416%,
    rgb(63, 7, 248) 74.29%
  );
}
/* Shoe Section & Backpack section design*/
.shoes,
.back-packs {
  margin-bottom: 60px;
}
.shoes-header,
.backpack-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shoes-header h1,
.backpack-header h1 {
  color: rgb(31, 31, 31);
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: left;
}
.shoes-header p,
.backpack-header p {
  color: rgb(255, 157, 0);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.shoe-title,
.backpack-title {
  color: rgb(31, 31, 31);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.shoe-description,
.backpack-description {
  color: rgb(78, 78, 78);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 16px 0;
}
.shoe-price,
.backpack-price {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin: 16px 0;
}
.shoe-container,
.backpack-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.shoe,
.backpack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 312px;
}
.shoe img,
.backpack img {
  max-width: 300px;
}
/* Footer Design */
footer h1 {
  color: rgb(31, 31, 31);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 60px;
}
footer p {
  color: rgb(112, 112, 112);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 75px;
}
footer input {
  border: none;
  padding: 20px 150px;
}
footer input ::placeholder {
  color: rgb(204, 204, 204);
  font-size: 24px;
  font-weight: 400;
  padding: 0px 100px;
}
