/* Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Typography */
/* Navbar Design */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-bar-search{
    position: relative;
}
.nav-bar-search i{
    position: absolute;
    right: 10px;
    top: 2px;
}
.nav-bar-list ul{
    display: flex;
    justify-content: ;
}
.nav-bar-list ul li{
    list-style: none;
}
.nav-bar-list ul li a{
    text-decoration: none;
}
/* Banner Design */